# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always normalize
*.js text
*.json text
*.html text
*.css text
*.md text

# Declare files that will always have CRLF line endings on checkout
*.bat eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh eol=lf

